.contact-wrapper {
  text-align: center;
}

.clickable, .phone {
  border-radius: 2px;
  font-size: 20px;
  line-height: 35px;
  transition:all .25s;
  font-weight: bold;
}

.clickable:hover, .phone:hover {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  cursor: pointer;
}

.phone:hover {
  cursor: auto;
}

.contact-info {
  font-weight:bold;
  font-size: 20px;
  display: inline;
}

i {
  display: inline;
}
