<div class="contact-wrapper">
  <br />

  <h1>{{ I18n.contact }}</h1>

  <br />

  <p>{{ I18n.phone }}</p>
  <div class="phone">
    <p class="contact-info">+35840 218 8744</p>
  </div>
  <br />

  <p>{{ I18n.email }}</p>
  <div class="clickable" (click)="mail()">
    <i class="fa fa-envelope"></i>
    <p class="contact-info">&nbsp;annehyvonen@hotmail.com</p>
  </div>

  <br />

  <p>{{ I18n.some }}</p>
  <div class="clickable" (click)="openIg()">
    <i class="fa fa-instagram"></i>
    <p class="contact-info">&nbsp;Annesusanna_</p>
  </div>
</div>
