<h1>{{ I18n.gallery }}</h1>

<!-- <div class="topnav" id="myTopnav">
  <a *ngFor="let gallery of gallerys" [routerLink]=gallery.en class="sub-router-link" [id]=gallery._id>{{gallery.fi}}</a>
</div> -->

<router-outlet></router-outlet>

<div style="text-align: center;" *ngIf="!images2.length">
  {{ I18n.gallery_content }}
</div>

<div fxLayout="row wrap" fxLayoutAlign="center column" style="width: 100%;">
  <div
    *ngFor="let image of images2"
    fxFlex.xs="75%"
    fxFlex.gt-xs="45%"
    [ngClass.gt-xs]="'wide'"
    fxFlex.gt-md="30"
    class="img-container"
  >
    <img src="{{ image.url }}" class="img" alt="{{ image.alt_fi }}" />
    {{ image.alt_fi }}
  </div>
</div>
