* {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.topnav {
  overflow: hidden;
  text-align: center;
}

a {
  display: inline-block;
  color: #807c7c;
  padding: 7px 16px;
  text-decoration: none;
  font-size: 14px;
  outline: none;
  min-width: 80px;
}


a:hover {
  font-weight: bold;
}

a.active {
  font-weight: bold;
}

.hover-shadow {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: red;
}

.img {
  width: 30vw;
  height: auto;
}

.wide {
  margin-right: 20px;
}

.img-container {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .img {
    width: 80vw;
    height: auto;
  }
}
