<footer class="footer-distributed">
  <div class="footer-right">
    <a href="javascript:void(0)" (click)="openIg()"
      ><i class="fa fa-instagram"></i
    ></a>
    <a href="mailto:annehyvonen@hotmail.com"><i class="fa fa-envelope"></i></a>
  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a class="link-1" href="">www.annepuronmaa.fi</a>
    </p>
    <p (click)="redirect()">
      {{ I18n.implementation }}:
      <a class="mail-link" href="mailto:mikko.majamaa@outlook.com"
        >mikko.majamaa@outlook.com</a
      >
      &copy; 2020
    </p>
  </div>
</footer>
