  <div class="page-container">
    <app-user-bar></app-user-bar>

    <div id="myModal" class="modal">
      <span class="close" (click)="closeModal()">&times;</span>

      <img class="modal-content" id="img01" />

      <div id="caption"></div>
    </div>

    <div
      cdkDropList
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      fxLayout="column"
      fxLayoutAlign="none center"
    >
      <form #editForm="ngForm" (ngSubmit)="editImages(editForm)" id="edit-form">
        <mat-card
          *ngFor="let img of images; let i = index"
          class="image-card"
          cdkDrag
        >
          <mat-card-content>
            <div
              fxLayout="column"
              fxLayoutAlign="none center"
              class="top-container"
            >
              <div fxFlex="nogrow" fxLayout="row" class="max-width">
                <span class="delete-container" (click)="deleteImage(img.Key)"
                  ><i class="fa fa-trash"></i
                ></span>
                <span fxFlex></span>
                <span class="drag-container" cdkDragHandle>
                  <i class="fa fa-arrows-alt"></i>
                </span>
              </div>
              <img
                fxFlex="nogrow"
                src="{{ img.url }}"
                alt="{{ img.alt_fi }}"
                id="myImg"
                class="image"
                (click)="openImage($event)"
              />

              <label class="title-label">Suomenkielinen kuvateksti:</label>
              <input
                name="{{ img.Key + ':alt_fin' }}"
                type="text"
                fxFlex="nogrow"
                class="card-input"
                [ngModel]="img.alt_fi"
              />

              <label class="title-label">Englanninkielinen kuvateksti:</label>
              <input
                name="{{ img.Key + ':alt_en' }}"
                type="text"
                value="{{ img.alt_en }}"
                fxFlex="nogrow"
                class="card-input"
                [ngModel]="img.alt_en"
              />
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>

    <button mat-button class="ok-button save" form="edit-form">
      Tallenna muutokset
    </button>
  </div>