<ng-container *ngIf="username">
  <div class="page-container">
    <app-user-bar [(images)]="images" *ngIf="images"></app-user-bar>
    <!-- <form
        #deleteGalleryForm="ngForm"
        (ngSubmit)="deleteGallery(deleteGalleryForm)"
        ngNativeValidate
      >
        <select name="gallery" (change)="gallerySelected($event.target.value)">
          <option *ngFor="let gallery of gallerys" value="{{ gallery._id }}">{{
            gallery.fi
          }}</option>
        </select>
        <button type="submit" class="delete-button">
          <i class="fa fa-trash"></i>
        </button>
      </form> -->

    <h1 *ngIf="selectedGallery">{{ selectedGallery.fi }}</h1>
    <div id="myModal" class="modal">
      <span class="close" (click)="closeModal()">&times;</span>

      <img class="modal-content" id="img01" />

      <div id="caption"></div>
    </div>

    <div
      cdkDropList
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      fxLayout="column"
      fxLayoutAlign="none center"
    >
      <!-- TODO: move to below tr *ngIf="img.gallery._id == selectedGallery" -->
      <form #editForm="ngForm" (ngSubmit)="editImages(editForm)" id="edit-form">
        <mat-card
          *ngFor="let img of images; let i = index"
          class="image-card"
          cdkDrag
        >
          <mat-card-content>
            <div
              fxLayout="column"
              fxLayoutAlign="none center"
              class="top-container"
            >
              <div
                fxFlex="nogrow"
                fxLayout="row"
                fxLayoutAlign="end"
                style="width:100%"
              >
                <span class="delete-container" (click)="deleteImage(img.Key)"
                  ><i class="fa fa-trash"></i
                ></span>
              </div>
              <img
                fxFlex="nogrow"
                src="{{ img.url }}"
                alt="{{ img.alt }}"
                id="myImg"
                class="image"
                (click)="openImage($event)"
              />

              <label class="title-label">Suomenkielinen kuvateksti:</label>
              <input
                name="{{ img.Key + ':alt_fin' }}"
                type="text"
                fxFlex="nogrow"
                class="card-input"
                [ngModel]="img.alt_fi"
              />

              <label class="title-label">Englanninkielinen kuvateksti:</label>
              <input
                name="{{ img.Key + ':alt_en' }}"
                type="text"
                value="{{ img.alt_en }}"
                fxFlex="nogrow"
                class="card-input"
                [ngModel]="img.alt_en"
              />
            </div>
          </mat-card-content>
        </mat-card>
        <!-- <button mat-button (click)="saveOrder()">Tallenna</button> -->
      </form>
    </div>

    <button mat-button class="ok-button save" type="submit" form="edit-form">
      Tallenna muutokset
    </button>
    <!-- <form
        #subgalleryForm="ngForm"
        (ngSubmit)="createGallery(subgalleryForm)"
        ngNativeValidate
      >
        <h1>Lisää alagalleria</h1>
        <div class="container">
          <input type="text" name="fi" placeholder="fi" required ngModel />
          <input type="text" name="en" placeholder="en" required ngModel />
          <input type="submit" />
        </div>
      </form> -->
  </div>
</ng-container>
