.image {
  max-width: 100px;
  max-height: 120px;
}

/* Style buttons */
.delete-button {
 background-color: DodgerBlue; /* Blue background */
 border: none; /* Remove borders */
 color: white; /* White text */
 padding: 12px 16px; /* Some padding */
 font-size: 16px; /* Set a font size */
 cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.delete-button:hover {
 background-color: RoyalBlue;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  opacity: 0.8;
}

form {
  border: 3px solid #f1f1f1;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  min-height: 132px;
}

/* Preview image */
img.preview {
  max-width: 100px;
  max-height: 120px;
  margin: 0 auto;
  display: block;
  padding: 6px 12px;
}

/* Add padding to containers */
.container {
  padding: 16px;
  text-align: center
}
