<mat-card class="upload-card"
  ><mat-card-content>
    <form
      #uploadForm="ngForm"
      (ngSubmit)="uploadFile(uploadForm)"
      class="upload-form"
      id="upload-form"
      ngNativeValidate
    >
      <h1>Lisää kuva</h1>
      <div class="imgcontainer">
        <img [src]="imgUrl" class="preview" *ngIf="imgUrl" />
      </div>

      <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <label
          for="file-upload"
          class="custom-file-upload max-width"
          fxFlex="nogrow"
          (click)="compressFile()"
        >
          <i class="fa fa-cloud-upload"></i> Valitse tiedosto
        </label>

        <input
          class="img-insert-input max-width"
          type="text"
          name="alt_fi"
          placeholder="Kuvateksti"
          required
          ngModel
          fxFlex="nogrow"
        />
        <input
          class="img-insert-input max-width"
          type="text"
          name="alt_en"
          placeholder="Kuvateksti (englanninkielinen)"
          ngModel
          fxFlex="nogrow"
        />

        <!-- <select name="gallery" required ngModel>
            <option
              *ngFor="let gallery of gallerys"
              value="{{ gallery._id }}"
              >{{ gallery.fi }}</option
            >
          </select> -->

        <div class="button-container max-width" fxFlex="nogrow" fxLayout="row">
          <button
            mat-button
            type="button"
            class="warn-button cancel-button"
            (click)="cancelUpload()"
            fxFlex
          >
            Peruuta
          </button>
          <span fxFlex="16px"></span>
          <button
            mat-button
            class="ok-button upload-button"
            form="upload-form"
            [disabled]="disabled"
            fxFlex
          >
            Lataa
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div class="spinner-wrapper" *ngIf="loading">
  <app-spinner-overlay></app-spinner-overlay>
</div>
