<mat-card class="upload-card"
  ><mat-card-content>
    <form
      #uploadForm="ngForm"
      (ngSubmit)="uploadFile(uploadForm)"
      class="upload-form"
      id="upload-form"
      ngNativeValidate
    >
      <h1>Lisää kuva</h1>
      <div class="imgcontainer">
        <img [src]="imgUrl" class="preview" *ngIf="imgUrl" />
      </div>

      <div class="container" fxLayout="column" fxLayoutAlign="center center">
        <label
          for="file-upload"
          class="custom-file-upload max-width"
          fxFlex="nogrow"
        >
          <i class="fa fa-cloud-upload"></i> Valitse tiedosto
        </label>

        <input
          id="file-upload"
          #file
          type="file"
          accept="image/*"
          (change)="onFileSelected(file.files)"
          fxFlex="nogrow"
        />
        <input
          class="img-insert-input max-width"
          type="text"
          name="alt_fi"
          placeholder="Kuvateksti"
          required
          ngModel
          fxFlex="nogrow"
        />
        <input
          class="img-insert-input max-width"
          type="text"
          name="alt_en"
          placeholder="Kuvateksti (englanninkielinen)"
          required
          ngModel
          fxFlex="nogrow"
        />

        <!-- <select name="gallery" required ngModel>
            <option
              *ngFor="let gallery of gallerys"
              value="{{ gallery._id }}"
              >{{ gallery.fi }}</option
            >
          </select> -->

        <button
          mat-button
          class="ok-button upload-button max-width"
          form="upload-form"
          [disabled]="disabled"
        >
          Lataa
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
