/* .upload-card {
  width: 400px;
  margin-bottom: 15px;
  background-color: #fefefe;
  border: 3px solid #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
} */

.upload-card {
  border: none;
  margin: none;
}

/* .upload-form {
  border: 3px solid #f1f1f1;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 8px;
}

.img-insert-input {
  padding: 12px 20px;
  margin-top: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 45px;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  min-height: 132px;
}

img.preview {
  max-width: 100px;
  max-height: 120px;
  margin: 0 auto;
  display: block;
  padding: 6px 12px;
}

.upload-button {
  margin-top: 16px;
}
