.sub-gallery-container {
  background-color: white;
}

.sub-gallery-top-container {
  background-color: antiquewhite;
  margin: 16px;
  border-radius: 8px;
  width: 250px;
}

.sub-galleries-container {
  overflow: auto;
}

.image {
  max-width: 100px;
  max-height: 120px;
}

.delete-container {
  color: rgb(191, 0, 0);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.drag-container {
  padding: 12px 16px;
  font-size: 16px;
  cursor: move;
  color: grey;
}

/* Darker background on mouse-over */
.delete-container:hover {
  color: rgb(223, 128, 128);
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
  text-align: center;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
  text-align: left !important;
  width: 100%;
  border-collapse: collapse;
}

td {
  border: none;
  width: 33%;
  padding: 10px;
}

tr:hover {
  background-color: #f5f5f5;
}

.page-container {
  text-align: center;
}

@media screen and (max-width: 768px) {
}

select {
  width: calc(20% - 20px);
  margin-left: 20px;
  height: 45px;
  text-align: center;
}

.example-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  /*background: white;*/
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image-card {
  width: 250px;
  margin-bottom: 16px;
  background-color: #fefefe;
  border: 3px solid #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px;
}

@media screen and (max-width: 600px) {
  .image-card,
  .sub-gallery-top-container {
    width: 70vw;
  }

  .sub-galleries-container {
    scroll-snap-type: x mandatory;
  }

  .sub-gallery-container {
    scroll-snap-align: center;
  }
}

.image-card:first-child {
  margin-top: 16px;
}

.card-input {
  width: calc(100% - 30px);
  margin: 8px;
  border: none;
  background-color: inherit;
  font-weight: bolder;
  height: 20px;
}

.card-input:hover {
  cursor: pointer;
}

.flag-icon {
  height: 10px;
  width: auto;
  margin: 8px 0px;
}

.card-input:first-child {
  margin-top: 16px !important;
}

.title-label {
  padding-left: 30px;
  width: 100%;
  text-align: left;
}

.save {
  margin-bottom: 16px;
}
