* {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

td {
  vertical-align: top;
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 25px 10px;
}

tr.space > td {
  padding-top: 25px;
}

td {
  max-width: 435px;
}

.note {
  margin-bottom: 15px;
}

table {
  margin-bottom: 15px;
}

.container {
  overflow: auto;
}

.note {
  text-align: center;
  width: 100%;
}
