.topnav {
  overflow: hidden;
  text-align: center;
}

.topnav a {
  display: inline-block;
  color: #807c7c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  outline: none;
  width: 80px;
}

.topnav a:hover {
  font-weight: bold;
}

.topnav a.active {
  font-weight: bold;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative;
    background-color: #efefef;
    transition: all .25s;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    transition: all .25s;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    transition: all .25s;
  }
}

.flag {
  height: 14px;
  width: 20px;
}

.flag:hover {
  cursor: pointer;
}
