html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
.custom-dialog-container .mat-dialog-container {
  padding: 0px;
}

.ok-button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.ok-button:hover {
  opacity: 0.8;
}

.warn-button {
  background-color: rgb(191, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
  margin: 8px 0;
}

.warn-button:hover {
  opacity: 0.8;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}
